In [3]:
from IPython.display import HTML, display

# Your HTML code
html_code = """
<div style="border: 2px solid green; padding: 10px; display: flex; justify-content: space-between; align-items: center; text-align: center; font-family: 'Times New Roman', Times, serif;">
    <div style="opacity: 0; animation: fadeIn 3s ease-in-out forwards;">
        <img src="https://repvue.imgix.net/a9yxc48y3ay5dm2udzwizc2bdyph" alt="Image 1" style="width:150px;"/>
    </div>
    <div style="opacity: 0; animation: fadeIn 1s ease-in-out forwards; animation-delay: 3s;">
            <p><span style="font-weight: bold; font-style: italic; color: red; font-size: 24px; margin-left: 5px;">Notebook Project</span></p>     
            <p><span style="font-weight: bold; font-style: italic; font-size: 20px;  margin-left: 30px;">Réalisé par Nefzi Jawaher </span></p>
            <p><span style="font-weight: bold; font-style: italic; font-size: 20px;  margin-left: 50px;">Année Universitaire: 2023-2024 Classe : L3DSI2</span></p>
    </div>
    <div style="opacity: 0; animation: fadeIn 1s ease-in-out forwards; animation-delay: 1s;">
        <div style="margin-left: 40px;">
            <img src="https://sites.univ-lyon2.fr/asi/8/img/logo/logoISET.png" alt="Image 2" style="width:400px;"/>
        </div>
    </div>
</div>
"""

# Display the HTML with a fadeIn animation for each element
display(HTML(html_code))

In [1]:
#L'emploi de la procédure

In [2]:
%%script node
console.log("\x1b[1m\x1b[32mWelcome To My Notebook\x1b[0m");

Welcome To My Notebook

In [143]:
from IPython.display import HTML

# Your corrected HTML code with an embedded video
html_code = """
<div style="border: 2px solid green; padding: 10px; display: flex; flex-direction: column; align-items: center; text-align: center; font-family: 'Times New Roman', Times, serif;">
  <div style="opacity: 0; animation: fadeIn 1s ease-in-out forwards; animation-delay: 2s; margin-top: 20px; text-align: center;">
    <p><span style="font-weight: bold; font-style: italic; font-size: 20px; color: green; text-align: center; margin-left:400px ;">C'est Quoi MongoDB Atlas ?</span></p>
    <p style="text-align: justify;">
      <span style="font-weight: bold; font-style: italic; font-size: 20px;">MongoDB Atlas est une solution de base de données cloud pour MongoDB. 
      Elle permet aux utilisateurs de déployer, gérer et utiliser MongoDB sans avoir à se soucier de l'infrastructure sous-jacente.
      Cette solution offre une variété de fonctionnalités ainsi qu'elle est une solution de base de données cloud complète et fiable pour MongoDB.</span>
    </p>
  </div>
  </br>
    <div style="opacity: 0; animation: fadeIn 2s ease-in-out forwards;">
    <iframe width="1000" height="315" src="https://www.youtube.com/embed/1EaOihoxyoE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
"""

# Display the HTML with a fadeIn animation for each element
display(HTML(html_code))

In [33]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
from pymongo import MongoClient
import pandas as pd

In [5]:
client = MongoClient("mongodb+srv://jawahernefzi888:ks5o5qdIcBoJYLqn@cluster0.u2taqjl.mongodb.net/?retryWrites=true&w=majority")

In [6]:
database = client['management']

In [7]:
people_collection = database['people']

In [8]:
people_data = [
    {"name": "Alice", "age": 25, "city": "Paris", "projects": [], "skills": []},
    {"name": "Bob", "age": 30, "city": "London", "projects": [], "skills": []},
    {"name": "Charlie", "age": 22, "city": "New York", "projects": [], "skills": []},
    {"name": "David", "age": 28, "city": "Berlin", "projects": [], "skills": []},
    {"name": "Eva", "age": 35, "city": "Tokyo", "projects": [], "skills": []},
    {"name": "Frank", "age": 26, "city": "Sydney", "projects": [], "skills": []},
    {"name": "Grace", "age": 31, "city": "Toronto", "projects": [], "skills": []},
    {"name": "Henry", "age": 27, "city": "Moscow", "projects": [], "skills": []},
    {"name": "Isabel", "age": 24, "city": "Rome", "projects": [], "skills": []},
    {"name": "Jack", "age": 29, "city": "Rio de Janeiro", "projects": [], "skills": []},
    {"name": "Katherine", "age": 32, "city": "Cape Town", "projects": [], "skills": []},
    # Add more entries as needed
]

people_collection.insert_many(people_data)

InsertManyResult([ObjectId('6575e0f7fd5bfbf48f3cea04'), ObjectId('6575e0f7fd5bfbf48f3cea05'), ObjectId('6575e0f7fd5bfbf48f3cea06'), ObjectId('6575e0f7fd5bfbf48f3cea07'), ObjectId('6575e0f7fd5bfbf48f3cea08'), ObjectId('6575e0f7fd5bfbf48f3cea09'), ObjectId('6575e0f7fd5bfbf48f3cea0a'), ObjectId('6575e0f7fd5bfbf48f3cea0b'), ObjectId('6575e0f7fd5bfbf48f3cea0c'), ObjectId('6575e0f7fd5bfbf48f3cea0d'), ObjectId('6575e0f7fd5bfbf48f3cea0e')], acknowledged=True)

In [22]:
companies_collection = database['companies']

In [23]:
tasks_collection = database['tasks']

In [24]:
skills_data = [
    {"name": "Python", "level": "Intermediate"},
    {"name": "JavaScript", "level": "Advanced"},
    {"name": "Data Analysis", "level": "Beginner"},
]

people_collection.update_many({}, {"$set": {"skills": []}})
for skill in skills_data:
    people_collection.update_many({}, {"$push": {"skills": skill}})

In [25]:
tasks_data = [
    {"title": "Finish Project X", "priority": "High", "comments": []},
    {"title": "Implement Feature Y", "priority": "Medium", "comments": []},
    {"title": "Test System Z", "priority": "Low", "comments": []},
    # Add more tasks as needed
]

In [26]:
for person in people_data:
    person_name = person["name"]
    tasks_for_person = [{"assigned_to": person_name, **task} for task in tasks_data]
    people_collection.update_one({"name": person_name}, {"$set": {"tasks": tasks_for_person}})

In [27]:
tasks_data = [
    {"title": "Finish Project X", "priority": "High", "assigned_to": "Alice", "comments": []},
    {"title": "Implement Feature Y", "priority": "Medium", "assigned_to": "Bob", "comments": []},
    {"title": "Test System Z", "priority": "Low", "assigned_to": "Charlie", "comments": []},
]

tasks_collection.insert_many(tasks_data)

InsertManyResult([ObjectId('6575deb6002f214794b54d17'), ObjectId('6575deb6002f214794b54d18'), ObjectId('6575deb6002f214794b54d19')], acknowledged=True)

In [28]:
comments_data = [
    {"text": "This task is critical!", "author": "Manager"},
    {"text": "Good progress so far.", "author": "Team Lead"},
]

tasks_collection.update_many({}, {"$set": {"comments": []}})
for comment in comments_data:
    tasks_collection.update_many({}, {"$push": {"comments": comment}})

In [29]:
all_people_with_skills = people_collection.find({}, {"_id": 0, "name": 1, "skills": 1})
df = pd.DataFrame(list(all_people_with_skills))

# Explode the 'skills' column to create separate rows for each skill
df_expanded = df.explode('skills')

# Create separate columns for skill name and level using apply
df_expanded[['skill_name', 'skill_level']] = df_expanded['skills'].apply(pd.Series)

# Drop the original 'skills' column
df_expanded = df_expanded.drop('skills', axis=1)

# Reorder columns if needed
df_expanded = df_expanded[['name', 'skill_name', 'skill_level']]

# Drop duplicate rows to keep only one skill per person
df_expanded_unique_skill = df_expanded.drop_duplicates(subset=['name'])

# Create a styled DataFrame
styled_df = df_expanded_unique_skill.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#109352'), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#109352'), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

styled_df

In [30]:

                          # --- READ (Rechercher des documents avec des tableaux et des structures imbriquées) ---

                                    # Afficher toutes les personnes avec leurs compétences

In [44]:
all_people_with_skills = people_collection.find({}, {"_id": 0, "name": 1, "skills": 1})

df = pd.DataFrame(list(all_people_with_skills))

styled_df = df.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#ff8c00'), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#ff8c00'), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

styled_df

In [56]:

                                                   # Ajouter des entreprises

In [35]:
companies_data = [
    {"name": "TechCorp", "industry": "Technology"},
    {"name": "HealthSolutions", "industry": "Healthcare"},
    {"name": "GreenEnergy", "industry": "Energy"},
    {"name": "SpaceTech", "industry": "Aerospace"},
    {"name": "FashionTrends", "industry": "Fashion"},
    {"name": "FoodInnovations", "industry": "Food"},
    {"name": "AutomateAll", "industry": "Automation"},
]

companies_collection.insert_many(companies_data)

InsertManyResult([ObjectId('65746fbdf4e5d6d29f589cdb'), ObjectId('65746fbdf4e5d6d29f589cdc'), ObjectId('65746fbdf4e5d6d29f589cdd'), ObjectId('65746fbdf4e5d6d29f589cde'), ObjectId('65746fbdf4e5d6d29f589cdf'), ObjectId('65746fbdf4e5d6d29f589ce0'), ObjectId('65746fbdf4e5d6d29f589ce1')], acknowledged=True)

In [58]:

                                               # Afficher toutes les entreprises

In [38]:
all_companies = companies_collection.find({}, {"_id": 0, "name": 1, "industry": 1})


df_companies = pd.DataFrame(list(all_companies))


styled_companies_df = df_companies.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#b86614'), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#b86614'), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

styled_companies_df

In [59]:

                                      # Afficher toutes les tâches avec leurs commentaires

In [41]:
all_tasks_with_comments = tasks_collection.find({}, {"_id": 0, "title": 1, "comments": 1})

df_tasks = pd.DataFrame(list(all_tasks_with_comments))

styled_tasks_df = df_tasks.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#8a953d'), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#8a953d'), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

styled_tasks_df

In [54]:

                                     # --- QUERY EMBEDDED (Requête sur des structures imbriquées) ---

In [55]:
                                 # Requête pour récupérer les personnes qui ont des compétences en Python

In [43]:
python_skill_query = {"skills": {"$elemMatch": {"name": "Python"}}}
people_with_python_skill = people_collection.find(python_skill_query, {"_id": 0, "name": 1, "skills": 1})

df_people_with_python_skill = pd.DataFrame(list(people_with_python_skill))

styled_people_with_python_skill = df_people_with_python_skill.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#808080'), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#808080'), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

styled_people_with_python_skill

In [53]:

                                      # --- UPDATE (Mise à jour de documents) ---

                                             # Mettre à jour l'âge de Bob

In [45]:
people_collection.update_one({"name": "Bob"}, {"$set": {"age": 31}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000002'), 'opTime': {'ts': Timestamp(1702134294, 3), 't': 2}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702134294, 3), 'signature': {'hash': b'\x96\x1d\xa1\x80\x00X\xc8\xef\xfb>n\x18o\xbd\xfa\xbb\x11\xc6\x80"', 'keyId': 7307553272624054277}}, 'operationTime': Timestamp(1702134294, 3), 'updatedExisting': True}, acknowledged=True)

In [ ]:
                                         # Ajouter une nouvelle compétence à Alice

In [46]:
people_collection.update_one({"name": "Alice"}, {"$push": {"skills": {"name": "MongoDB", "level": "Intermediate"}}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000002'), 'opTime': {'ts': Timestamp(1702134339, 4), 't': 2}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702134339, 4), 'signature': {'hash': b'\xcd\x18R\xb0\x1e \xc6\xb4e\xb3hIR\xd0\xcd=\t\xd8\xf8\xcc', 'keyId': 7307553272624054277}}, 'operationTime': Timestamp(1702134339, 4), 'updatedExisting': True}, acknowledged=True)

In [51]:
                                      # Mettre à jour la priorité de la tâche "Finish Project X"

In [47]:
tasks_collection.update_one({"title": "Finish Project X"}, {"$set": {"priority": "Critical"}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000002'), 'opTime': {'ts': Timestamp(1702134789, 5), 't': 2}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702134789, 5), 'signature': {'hash': b'&\xcc\x104"\xa0\xbaa\xcb\xd4S\xea\xa9Q\xfc\x05\x90\xb1\xe8\x91', 'keyId': 7307553272624054277}}, 'operationTime': Timestamp(1702134789, 5), 'updatedExisting': True}, acknowledged=True)

In [48]:
                                        # Ajouter un nouveau commentaire à la tâche "Implement Feature Y"

In [49]:
tasks_collection.update_one({"title": "Implement Feature Y"}, {"$push": {"comments": {"text": "Needs more testing.", "author": "Tester"}}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000002'), 'opTime': {'ts': Timestamp(1702134817, 3), 't': 2}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702134817, 3), 'signature': {'hash': b'\xc8\xb1~\xb4H=w\x1d^\xeeT\xd1<\x1a\x9e\x90\xc2#\xeb?', 'keyId': 7307553272624054277}}, 'operationTime': Timestamp(1702134817, 3), 'updatedExisting': True}, acknowledged=True)

In [50]:
                                               # --- DELETE (Suppression de documents) ---

In [52]:
                                              # Supprimer Charlie de la collection "people"

In [53]:
people_collection.delete_one({"name": "Charlie"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000002'), 'opTime': {'ts': Timestamp(1702134908, 4), 't': 2}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702134908, 4), 'signature': {'hash': b'~\xeb/\xde+\xcc1\xdeX\xefp\x0f\x8ea\xf8\x8e\x89\x1a\x0c\xbd', 'keyId': 7307553272624054277}}, 'operationTime': Timestamp(1702134908, 4)}, acknowledged=True)

In [54]:
                                              # Supprimer la tâche "Finish Project X"

In [55]:
tasks_collection.delete_one({"title": "Finish Project X"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000002'), 'opTime': {'ts': Timestamp(1702134952, 3), 't': 2}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702134952, 3), 'signature': {'hash': b'\tW\x14\x94\xbd\x91\x11"\xc0\xb9dM\x9f\x81?\xe3\xed\xa2\xe8\xfd', 'keyId': 7307553272624054277}}, 'operationTime': Timestamp(1702134952, 3)}, acknowledged=True)

In [56]:
                                    # --- READ (Afficher après les opérations de mise à jour et de suppression) ---

In [57]:
                             # Afficher toutes les personnes après les opérations de mise à jour et de suppression

In [59]:
all_people_after_update_delete = people_collection.find()

df_all_people_after_update_delete = pd.DataFrame(list(all_people_after_update_delete))

styled_all_people_after_update_delete = df_all_people_after_update_delete.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#e67e30 '), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#e67e30 '), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

styled_all_people_after_update_delete

In [60]:

                               # Afficher toutes les entreprises après les opérations de mise à jour et de suppression

In [61]:
all_companies_after_update_delete = companies_collection.find()

# Create a DataFrame Pandas
df_all_companies_after_update_delete = pd.DataFrame(list(all_companies_after_update_delete))

# Apply styles to the DataFrame
styled_all_companies_after_update_delete = df_all_companies_after_update_delete.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#8a953d'), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#8a953d'), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])


# Display the styled DataFrame
styled_all_companies_after_update_delete

In [62]:

                              # Afficher toutes les tâches après les opérations de mise à jour et de suppression

In [63]:
all_tasks_after_update_delete = tasks_collection.find()

# Create a DataFrame Pandas
df_all_tasks_after_update_delete = pd.DataFrame(list(all_tasks_after_update_delete))

# Apply styles to the DataFrame
styled_all_tasks_after_update_delete = df_all_tasks_after_update_delete.style.set_table_styles([
    {'selector': 'thead', 'props': [('background', '#b86614 '), ('color', 'white')]},
    {'selector': 'tbody', 'props': [('color', 'darkslategray')]},
    {'selector': 'th', 'props': [('background', '#b86614 '), ('color', 'white')]},
    {'selector': 'td', 'props': [('border', '1px solid lightgray')]},
])

# Display the styled DataFrame
styled_all_tasks_after_update_delete

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [22]:

                                                          # Index Queries

In [23]:

                                            #Create a compound index on "city" and "age":

In [9]:
people_collection.create_index([("city", pymongo.ASCENDING), ("age", pymongo.DESCENDING)])

'city_1_age_-1'

In [25]:

                                               #Create an index on the "age" field:

In [10]:
people_collection.create_index([("age", pymongo.ASCENDING)])

'age_1'

In [26]:


                                              #List all indexes on the collection:

In [11]:
people_collection.list_indexes()

In [20]:

                                                       #Aggregation Queries

In [21]:

                                             #Find the average age of all people :

In [14]:
avg_age = people_collection.aggregate([
    {"$group": {"_id": None, "average_age": {"$avg": "$age"}}}
])
print(next(avg_age)["average_age"])

28.25581395348837

In [47]:

print("\033[1mFind the count of people in each city\033[0m")

Find the count of people in each city

In [15]:
city_counts = people_collection.aggregate([
    {"$group": {"_id": "$city", "count": {"$sum": 1}}}
])
print(list(city_counts))

[{'_id': 'Rome', 'count': 4}, {'_id': 'London', 'count': 4}, {'_id': 'Paris', 'count': 4}, {'_id': 'Moscow', 'count': 4}, {'_id': 'Sydney', 'count': 4}, {'_id': 'Berlin', 'count': 4}, {'_id': 'Rio de Janeiro', 'count': 4}, {'_id': 'New York', 'count': 3}, {'_id': 'Toronto', 'count': 4}, {'_id': 'Tokyo', 'count': 4}, {'_id': 'Cape Town', 'count': 4}]

In [45]:

print("\033[1mFind people younger than 30 living in Paris\033[0m")

Find people younger than 30 living in Paris

In [16]:
young_parisians = people_collection.find({"age": {"$lt": 30}, "city": "Paris"})
for person in young_parisians:
    print(person)

{'_id': ObjectId('6575948da22972967d4c3f9b'), 'name': 'Alice', 'age': 25, 'city': 'Paris', 'projects': [], 'skills': [{'name': 'Python', 'level': 'Intermediate'}, {'name': 'JavaScript', 'level': 'Advanced'}, {'name': 'Data Analysis', 'level': 'Beginner'}], 'tasks': [{'assigned_to': 'Alice', 'title': 'Finish Project X', 'priority': 'High', 'comments': []}, {'assigned_to': 'Alice', 'title': 'Implement Feature Y', 'priority': 'Medium', 'comments': []}, {'assigned_to': 'Alice', 'title': 'Test System Z', 'priority': 'Low', 'comments': []}]}
{'_id': ObjectId('6575de65002f214794b54d0c'), 'name': 'Alice', 'age': 25, 'city': 'Paris', 'projects': [], 'skills': [{'name': 'Python', 'level': 'Intermediate'}, {'name': 'JavaScript', 'level': 'Advanced'}, {'name': 'Data Analysis', 'level': 'Beginner'}]}
{'_id': ObjectId('6575df588543677e6ab33d21'), 'name': 'Alice', 'age': 25, 'city': 'Paris', 'projects': [], 'skills': []}
{'_id': ObjectId('6575e0f7fd5bfbf48f3cea04'), 'name': 'Alice', 'age': 25, 'city': 'Paris', 'projects': [], 'skills': []}

In [60]:

                                               #Find the oldest person in each city:

In [27]:
oldest_per_city = people_collection.aggregate([
    {"$group": {"_id": "$city", "oldest_person": {"$max": "$age"}}}
])
print(list(oldest_per_city))

[{'_id': 'Rome', 'oldest_person': 24}, {'_id': 'London', 'oldest_person': 31}, {'_id': 'Paris', 'oldest_person': 25}, {'_id': 'Moscow', 'oldest_person': 27}, {'_id': 'Sydney', 'oldest_person': 26}, {'_id': 'Berlin', 'oldest_person': 28}, {'_id': 'Rio de Janeiro', 'oldest_person': 29}, {'_id': 'New York', 'oldest_person': 22}, {'_id': 'Toronto', 'oldest_person': 31}, {'_id': 'Tokyo', 'oldest_person': 35}, {'_id': 'Cape Town', 'oldest_person': 32}]

In [28]:

                                        #Find the total number of people with each skill:

In [29]:
skill_counts = people_collection.aggregate([
    {"$unwind": "$skills"},
    {"$group": {"_id": "$skills", "count": {"$sum": 1}}},
])
print(list(skill_counts))

[{'_id': {'name': 'Python', 'level': 'Intermediate'}, 'count': 21}, {'_id': {'name': 'JavaScript', 'level': 'Advanced'}, 'count': 21}, {'_id': {'name': 'Data Analysis', 'level': 'Beginner'}, 'count': 21}]

In [11]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient.authentication import InteractiveLoginAuthentication

import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('C:/Users/jawaher/Downloads/Financial Sample.csv')

In [9]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Montana,High,200.0,5,350,70000.0,9800.00,60200.00,52000.0,8200.00,5/1/2014,5,May,2014
1,Small Business,Germany,Carretera,Low,214.0,3,300,64200.0,1284.00,62916.00,53500.0,9416.00,10/1/2013,10,October,2013
2,Small Business,Germany,VTT,Low,214.0,250,300,64200.0,1284.00,62916.00,53500.0,9416.00,10/1/2013,10,October,2013
3,Midmarket,Canada,Paseo,Low,218.0,10,15,3270.0,130.80,3139.20,2180.0,959.20,9/1/2014,9,September,2014
4,Government,Germany,Paseo,High,241.0,10,20,4820.0,482.00,4338.00,2410.0,1928.00,10/1/2014,10,October,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Channel Partners,Canada,Paseo,High,4026.0,10,12,48312.0,5314.32,42997.68,12078.0,30919.68,7/1/2014,7,July,2014
696,Enterprise,Germany,Amarilla,NaN,4219.5,260,125,527437.5,0.00,527437.50,506340.0,21097.50,4/1/2014,4,April,2014
697,Enterprise,France,Carretera,Low,4243.5,3,125,530437.5,15913.13,514524.38,509220.0,5304.38,4/1/2014,4,April,2014
698,Government,Canada,Paseo,Low,4251.0,10,7,29757.0,1190.28,28566.72,21255.0,7311.72,1/1/2014,1,January,2014
699,Government,United States of America,Paseo,Low,4492.5,10,7,31447.5,314.48,31133.03,22462.5,8670.53,4/1/2014,4,April,2014

In [10]:
auth = InteractiveLoginAuthentication()

A local browser window will open for interactive sign in.

Interactive authentication successfully completed.
You are now logged in.

The result should be passed only to trusted code in your notebook.

In [12]:
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=auth)

In [4]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import InteractiveLoginAuthentication

import pandas as pd
import matplotlib.pyplot as plt  

df = pd.read_csv('C:/Users/jawaher/Downloads/Financial Sample.csv')
auth = InteractiveLoginAuthentication()  

PBI_visualize = QuickVisualize(get_dataset_config(df), auth=auth)
PBI_visualize

A local browser window will open for interactive sign in.

Interactive authentication successfully completed.
You are now logged in.

The result should be passed only to trusted code in your notebook.

QuickVisualize()

In [10]:
%pip install --upgrade powerbiclient

Requirement already satisfied: powerbiclient in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (3.1.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from powerbiclient) (8.1.1)
Requirement already satisfied: jupyter-ui-poll>=0.1.2 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from powerbiclient) (0.2.2)
Requirement already satisfied: msal>=1.8.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from powerbiclient) (1.26.0)
Requirement already satisfied: requests>=2.25.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from powerbiclient) (2.31.0)
Requirement already satisfied: pandas in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from powerbiclient) (2.1.4)
Requirement already satisfied: pyspark in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from powerbiclient) (3.5.0)
Requirement already satisfied: comm>=0.1.3 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipywidgets>=7.0.0->powerbiclient) (0.2.0)
Requirement already satisfied: ipython>=6.1.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipywidgets>=7.0.0->powerbiclient) (8.18.1)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipywidgets>=7.0.0->powerbiclient) (5.14.0)
Requirement already satisfied: widgetsnbextension~=4.0.9 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipywidgets>=7.0.0->powerbiclient) (4.0.9)
Requirement already satisfied: jupyterlab-widgets~=3.0.9 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipywidgets>=7.0.0->powerbiclient) (3.0.9)
Requirement already satisfied: PyJWT<3,>=1.0.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from PyJWT[crypto]<3,>=1.0.0->msal>=1.8.0->powerbiclient) (2.8.0)
Requirement already satisfied: cryptography<44,>=0.6 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from msal>=1.8.0->powerbiclient) (41.0.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from requests>=2.25.1->powerbiclient) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from requests>=2.25.1->powerbiclient) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from requests>=2.25.1->powerbiclient) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from requests>=2.25.1->powerbiclient) (2023.11.17)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas->powerbiclient) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas->powerbiclient) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas->powerbiclient) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pandas->powerbiclient) (2023.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from pyspark->powerbiclient) (0.10.9.7)
Requirement already satisfied: cffi>=1.12 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from cryptography<44,>=0.6->msal>=1.8.0->powerbiclient) (1.16.0)
Requirement already satisfied: decorator in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (2.17.2)
Requirement already satisfied: stack-data in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.6.3)
Requirement already satisfied: typing-extensions in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (4.8.0)
Requirement already satisfied: exceptiongroup in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (1.2.0)
Requirement already satisfied: colorama in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas->powerbiclient) (1.16.0)
Requirement already satisfied: pycparser in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from cffi>=1.12->cryptography<44,>=0.6->msal>=1.8.0->powerbiclient) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.2.12)
Requirement already satisfied: executing>=1.2.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\jawaher\pycharmprojects\pythonproject\venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=auth)
PBI_visualize

In [63]:
from IPython.display import HTML

HTML("""
<div style="display: flex; justify-content: center; align-items: center; text-align: center; font-family: 'Times New Roman', Times, serif; height: 70vh;">
    <div style="opacity: 0; animation: fadeIn 1s ease-in-out forwards; animation-delay: 2s;">
        <img src="https://images.slideplayer.fr/11/2963655/slides/slide_21.jpg" alt="Image 1" style="width:1000px;"/>
    </div>
</div>
""")